pandas 
mlflow==2.2.2
notebook
numpy
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
torch
torchvision
category-encoders
transformers
scipy==1.10.1
seaborn==0.12.2
tensorflow==2.11.0
openpyxl==3.1.2
xgboost==1.7.4
-e .
